.page-curso1{
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
        @include heading(L);
         white-space: normal;
         margin-top: 50px;
         margin-bottom:50px;

        }
        &__subtitle{
            @include heading(M);
            align-self: flex-start
           
           
        }
        &__text{
            @include body;
            margin-top: 30px;
            margin-bottom:50px;
        }

    }
    .image{
        width: 500px;
        margin-top:30px;
    }
    
}