.header{
    padding:10px 120px 10px 120px;
    position:sticky;
    top:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;

    &__logo{
        display: inline-block;
        width: 250px;

        img{
            width: 100%;
            height: auto;
        }
    }
}